<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFSul - Cadastro de Problemas</title>
</head>
<body>
    <header style="background-color: rgb(8, 220, 8); color: green; height: 150px;">
        <center>
            <h1 style="margin-top: 0px; padding-top: 20px;">CADASTRO DE PROBLEMAS DO IFSUL</h1>
            <h2>Um banco de propostas para projetos de extensão</h2>
        </center>
        <style>
            .container {
                display: flex;
                justify-content: center; /* Alinha os itens no centro horizontalmente */
                align-items: center; /* Alinha os itens no centro verticalmente */
                gap: 40px; /* Adiciona uma separação de 40px entre as divs */
                height: 120px;
            }

            .box {
                flex: 1; /* As divs irão ocupar o mesmo espaço */
                padding: 10px;
                border: 0px;
                margin: 5px;
            }
        </style>
    </header>

    <center>
        <h2>Bem-vindo, <%= professor.nome %>!</h2>
    </center>

    <br />
    <h3>Dados do problema informados pela pessoa ou empresa: </h3>

    <fieldset>
        <legend>Sobre o problema:</legend>
        <form>
            <br />
            <label>Descreva abaixo o problema em poucas palavras:</label>
            <br> 
            <p><%= problema.titulo %></p>
            <br>

            <br />
            <table border="0">
                <tr>
                    <td style="vertical-align: top; width: 450px;">
                        <label>Descreva abaixo o problema em detalhes: <font color="red"><b>*</b></font> </label>
                        <p><%= problema.detalhes %></p>
                    </td>
                </tr>
            </table>                             
            <br />
            <label>Suspeita da causa do problema, se tiver:</label>
            <br> 
            <p><%= problema.causa %></p>
            <br>

            <br />
            <label>Frequência da ocorrência, se souber:</label><br>
            <p><%= problema.frequencia %></p>
            <br>

            <br />
            <label>Prazo máximo necessário para a solução, se tiver:</label>
            <br>
            <p><%= problema.prazo || "Não informado" %></p>
            <br>

            <br>
            <label>Qual tipo de projeto de extensão você acha que seria útil para resolveria este problema?<font color="red"><b>*</b></font></label><br>
            <p><%= problema.tipo_projeto %></p>

            <br>
            <br>
            <label>Qual curso você acha que talvez possa solucionar este problema?<font color="red"><b>*</b></font></label><br>
            <p><%= problema.curso_sugerido %></p>
        </form>
        <br />
    </fieldset>

    <br />

    <fieldset>
        <legend>Dados para contato:</legend>

        <p>O professor(a) que for criar um projeto de extensão para tratar este problema poderá entrar em contato com você para obter detalhes e/ou tirar dúvidas.</p>   
        <form>
            <p><strong>Nome:</strong> <%= problema.nome %></p>
            <p><strong>Telefone</strong> <%= problema.telefone %></p>
            <p><strong>Email:</strong> <%= problema.email %></p>
            <p><strong>Cidade:</strong> <%= problema.cidade %></p>
        </form>
    </fieldset>

    <a href="/professor/profArea">
        <button>Voltar</button>
    
    <a href="/ideia/editarproblema/<%= problema.id %>">
            <button type="button">Editar</button>
    </a>
        
    <!-- Formulário de Exclusão -->
    <form action="/ideia/excluir/<%= problema.id %>" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir esta ideia?');">
        <button type="submit">Excluir</button>
    </form>

    <footer style="height: 50px; margin-top: 50px; background-color:rgb(8, 220, 8); text-align: center;">                
        <div style="padding-top: 15px; color:green;"><b>Criado no IFSul Campus Bagé - Daniel Morales, Prof. Alessandro Dias</b></div>
    </footer>
</body>
</html>
